.alert {

	[aria-label="Close"] {
		position: absolute;
		right: 5px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
.navbar-icon-mom {
	width: 40px;
	height: 40px;
	background-image: url('../../imgs/burger-white.svg');
  }